@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(-45deg, #ffffff, #939393, #515151, #000000);
    background-size: 500% 500%;
    animation: gradient 15s ease infinite;

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/*estilo redes sociales*/
#redes{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    /* border-left: 2px solid #f5f5dc; */
    cursor: pointer;
}

#redes Link{
    display: flex;
    justify-content: center;
    align-items: center;
}


#redes img:hover{
    transform: translateY(-12%);
    filter: invert(61%) sepia(55%) saturate(3257%) hue-rotate(98deg) brightness(94%) contrast(97%);
    transition: all .2s ease-in-out;
}

#redes Link img{
    transition: transform 0.2s ease-in-out;
    width: 21px;
    filter: invert(94%) sepia(8%) saturate(746%) hue-rotate(345deg) brightness(108%) contrast(92%);
}
/*estilo botones mails*/
#Botones{
    width: 100%;
    display: flex;
    /*flex-direction:column;*/
    align-items:center ;
    gap: 15px;
    height: 120px;
}





#button {

    background-color: rgb(124, 124, 124);
    width: 260px;
    height: 50px;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    /* padding: 0.7em 2em; */
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
}

#button:before {

    transition: 0.3s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: rgb(83, 101, 94);
    z-index: -1;
}

#button:hover, button:focus {
    color: white;
}

#button:hover:before, button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

#button:active {
    transform: scale(0.9);
}

.a{
    font-size: 1.3rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

@media (max-width: 800px){
    #Botones{
        padding: 0;
        display: flex;
        flex-direction: initial;
        justify-content: center;
        margin-top: 15px;
    }
    #Botones button{
        width: 125px;
        height: 47px;
    }
}